@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 50px;
}
@keyframes rgbGlow {
  0% {
    box-shadow: 0 0 25px #ff00ff;
  }
  25% {
    box-shadow: 0 0 25px #ff0000;
  }
  50% {
    box-shadow: 0 0 25px #ffa500;
  }
  75% {
    box-shadow: 0 0 25px #00ffff;
  }
  100% {
    box-shadow: 0 0 25px #ff00ff;
  }
}

.rgb-glow {
  animation: rgbGlow 4s infinite;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 12s linear infinite;
}

.orbit-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
}
